:root {
    font-size: 16px;
    --navbar-font-size: 1.1rem;
    --navbar-height: calc(var(--navbar-font-size) + 16px);
}

@media screen and (min-width: 600px) {
    :root {
        font-size: 18px;
        --navbar-font-size: 1.4rem;
    }
}
